{
  "ConfigScriptVersion": "0.1.20231203",
  "AdminPreFix": "Admin_",
  "OU": "OU=JIT-Administrator Groups,OU=Tier 1,OU=Admin,DC=bloedgelaber,DC=de",
  "MaxElevatedTime": 1440,
  "DefaultElevatedTime": 60,
  "ElevateEventID": 100,
  "Tier0ServerGroupName": "Tier 0 Computers",
  "LDAPT0Computers": "(&(ObjectClass=Computer)(!(ObjectClass=msDS-GroupManagedServiceAccount))(!(PrimaryGroupID=516))(!(PrimaryGroupID=521)))",
  "LDAPT0ComputerPath": "OU=Tier 0,OU=Admin",
  "LDAPT1Computers": "(&(OperatingSystem=*Windows*)(ObjectClass=Computer)(!(ObjectClass=msDS-GroupManagedServiceAccount))(!(PrimaryGroupID=516))(!(PrimaryGroupID=521)))",
  "EventSource": "T1Mgmt",
  "EventLog": "Tier 1 Management",
  "GroupManagementTaskRerun": 60,
  "GroupManagedServiceAccountName": "T1GroupMgmt",
  "Domain": "bloedgelaber.de",
  "DelegationConfigPath": "C:\\Repos\\T1JIT\\delegation.config",
  "EnableDelegation": true,
  "EnableMultiDomainSupport": true,
  "T1Searchbase": [
    "OU=BG-Servers"
  ],
  "DomainSeparator": "#"
}
